.player{
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-controls{
  width: 50%;
  display: flex;
  
  input{
      flex: 1;
      padding: 1rem 0rem;
  }
  p{
      padding: 1rem;
  }
}

.play-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;

    i{
        cursor: pointer;
    }
}

@media screen and(max-width:768px){
    .play-controls{
        width: 90%;
    }

    .time-controls{
        width: 90%;
    }
}

.rs-range {
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        box-shadow: none;
        background: linear-gradient(to right,rgb(49, 232, 211),rgb(174, 58, 236));
        border-radius: 12px;
        border: 0px solid #010101;
    }
    &::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: linear-gradient(to right,rgb(49, 232, 211),rgb(174, 58, 236));
        border-radius: 0px;
        border: 0px solid #010101;
    }
  
    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: linear-gradient(to bottom,#A770EF,#A770EF);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
         background: linear-gradient(to bottom,#A770EF,#A770EF);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
}