@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px; /* for vertical scrollbars */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(172, 170, 170, 0.5);
}

h1,
h2 {
	color: #333;
}

h3,
h4 {
	color: #777;
}

body {
	font-family: 'Poppins', sans-serif;
}

.app {
	transition: all 0.5s ease;
}

.active-library {
	margin-left: 30%;
}
